flows.json
[{"id":"ff09136e.6ad5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"33d1cd46.d4fa02","type":"serial in","z":"ff09136e.6ad5c","name":"Temperatura","serial":"1374ccaf.c0a6d3","x":200,"y":140,"wires":[["b4dfdaba.261038","b4fb8289.1266f","1f3620cc.7817df","ec858339.ad53f"]]},{"id":"b4fb8289.1266f","type":"debug","z":"ff09136e.6ad5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":240,"wires":[]},{"id":"b4dfdaba.261038","type":"ui_gauge","z":"ff09136e.6ad5c","name":"","group":"fe76f40e.eb5a08","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":140,"wires":[]},{"id":"1f3620cc.7817df","type":"ui_chart","z":"ff09136e.6ad5c","name":"","group":"fe76f40e.eb5a08","order":1,"width":"0","height":"0","label":"Temperatura [ºC] em Função do Tempo [s]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":180,"wires":[[]]},{"id":"a7938cbe.b1728","type":"ui_button","z":"ff09136e.6ad5c","name":"","group":"fe76f40e.eb5a08","order":2,"width":"0","height":"0","passthru":false,"label":"Iniciar/Parar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"gate","x":90,"y":40,"wires":[["b7844200.2ef0c"]]},{"id":"3ff61f43.db027","type":"function","z":"ff09136e.6ad5c","name":"control","func":"if(msg.payload === true){\n    msg.payload = \"teste\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":20,"wires":[["4eba6ad4.6817c4"]]},{"id":"4eba6ad4.6817c4","type":"debug","z":"ff09136e.6ad5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":20,"wires":[]},{"id":"b7844200.2ef0c","type":"function","z":"ff09136e.6ad5c","name":"","func":"if(msg.payload === undefined){\n    msg.payload = false;\n}\nelse if(msg.payload === true){\n    msg.payload = false;\n}\nelse if(msg.payload === false){\n    msg.payload = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":220,"wires":[["4eba6ad4.6817c4"]]},{"id":"12bd2d47.df5843","type":"mqtt out","z":"ff09136e.6ad5c","name":"","topic":"teste","qos":"","retain":"","broker":"74634510.ee188c","x":280,"y":380,"wires":[]},{"id":"ec858339.ad53f","type":"csv","z":"ff09136e.6ad5c","name":"Temperatura","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"Temperatura","skip":"0","x":450,"y":80,"wires":[["e600ec55.402d5","7ff674ef.49e20c"]]},{"id":"e600ec55.402d5","type":"debug","z":"ff09136e.6ad5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":60,"wires":[]},{"id":"7ff674ef.49e20c","type":"file","z":"ff09136e.6ad5c","name":"","filename":"/home/pi/arquivodetemperatura","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":690,"y":120,"wires":[[]]},{"id":"1374ccaf.c0a6d3","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"fe76f40e.eb5a08","type":"ui_group","z":"","name":"Temperatura","tab":"b7540015.9749d","disp":true,"width":"6","collapse":false},{"id":"74634510.ee188c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7540015.9749d","type":"ui_tab","z":"","name":"Experiencia de Temperatura","icon":"dashboard","disabled":false,"hidden":false}]